.env
.env.backup
.env.production
.env.local
!.env.example
*.log
*.log.*
.phpunit.result.cache
.phpunit.cache/
/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/storage/*.key
/storage/framework/
/storage/logs/
/storage/pail
*.phpactor.json
.fleet/
.idea/
.nova/
.vscode/
.zed/
auth.json
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
/database/*.sqlite
/database/*.sqlite-journal
cookies.txt
headers.txt
login_page.html
login_result.html
structure.txt
nul
.scannerwork/
sonar-project.properties